{% extends 'base/base.html'%}
{% load static%}
{% block content %}
<div class="page-banner bg-img bg-img-parallax overlay-dark" style="background-image: url(../static/img/bg_image_3.jpg);">
    <div class="container h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-lg-8">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Projects</li>
            </ol>
          </nav>
          <h1 class="fg-white text-center">Projects Completed</h1>
        </div>
      </div>
    </div>
  </div> <!-- .page-banner -->

<div class="page-section">
    <div class="container">
      <div class="filterable-btn">
        <button class="btn active" data-filter="*">All</button>
        <button class="btn" data-filter=".web">Website</button>
        <button class="btn" data-filter=".mobile">Mobile</button>
        <button class="btn" data-filter=".desktop">Desktop</button>
      </div>

      <div class="grid mt-3">
        {% if projects %}
        {% for project in projects %}
        <div class="grid-item mobile">
          <div class="portfolio">
            <a href="{{ project.photo.url }}" data-fancybox="portfolio">
              <img src="{{ project.photo.url }}" alt="">
            </a>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <h2 class = "text-center text-danger">No projects yet!</h2>
        {% endif %}
      </div> <!-- .grid -->

      <div class="col-12 my-5">
        <nav aria-label="Page Navigation">
            <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
            </ul>
        </nav>
    </div>
    </div> <!-- .container -->
  </div> <!-- .page-section -->

{% endblock content %}